@import "../../app.scss";

.register {
  height: 100vh;
  background-color: rgb(193, 190, 255);
  display: flex;
  align-items: center;
  justify-content: center;
  .card {
    width: clamp(800px, 60%, 1130px);
    display: flex;
    flex-direction: row-reverse;
    background-color: #fff;
    border-radius: 10px;
    min-height: 500px;
    overflow: hidden;

    @include medium() {
      flex-direction: column;
      width: max(360px, 50%);
    }

    @include mobile() {
      width: 80%;
    }

    .left {
      background: linear-gradient(rgba(39, 11, 96, 0.5), rgba(39, 11, 96, 0.5)),
        url("images/group2.jpg");
      background-position: 20%;
      background-size: cover;
      flex: 1;
      padding: 50px;
      display: flex;
      flex-direction: column;
      gap: 30px;
      color: #fff;

      @include medium() {
        display: none;
      }

      h1 {
        font-size: 90px;
        line-height: 90px;
      }
      p {
      }
      span {
        font-size: 14px;
      }

      .loginLink {
        display: flex;
        flex-direction: column;
        gap: 15px;

        a {
          width: 50%;
        }
        button {
          width: 100%;
          padding: 10px;
          border: none;
          background-color: #fff;
          color: rebeccapurple;
          font-weight: bold;
          cursor: pointer;
        }
      }
    }
    .right {
      flex: 1;
      padding: 50px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 50px;

      @include mobile() {
        padding: 20px;
      }

      h1 {
        color: #555;
      }
      form {
        display: flex;
        flex-direction: column;
        gap: 30px;
        input {
          border: none;
          border-bottom: 1px solid lightgray;
          padding: 20px 10px;
        }
        button {
          width: 50%;
          padding: 10px;
          border: none;
          background-color: #938eef;
          color: #fff;
          font-weight: 700;
          cursor: pointer;
        }
      }

      .loginLink {
        display: none;
        flex-direction: column;
        gap: 15px;

        @include medium() {
          display: flex;
        }

        span {
          font-size: 14px;
        }

        a {
          width: 50%;
        }
        button {
          width: 100%;
          padding: 10px;
          border: none;
          background-color: #938eef;
          color: #fff;
          font-weight: bold;
          cursor: pointer;
        }
      }
    }
  }
}
