@import "../../app.scss";

.share {
  @include themify($themes) {
    box-shadow: 0px 0px 25px -10px rgba(0, 0, 0, 0.38);
    border-radius: 20px;
    background-color: themed("bg");
    color: themed("textColor");
    margin-bottom: 50px;

    .container {
      padding: 20px;
    }
  }
}
