@import "../../app.scss";

.rightbar {
  @include themify($themes) {
    position: sticky;
    top: 70px;
    height: calc(100vh - 70px);
    overflow-y: scroll;
    background-color: themed("bgSoft");

    @include medium() {
      display: none;
    }

    &::-webkit-scrollbar {
      display: none;
    }

    .container {
      padding: 20px;
      padding-left: 0px;

      .item {
        border-radius: 10px;
        box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.09);
        padding: 20px;
        margin-bottom: 20px;
        background-color: themed("bg");
        span {
          color: gray;
        }
        .user {
          display: flex;
          align-items: center;
          justify-content: space-between;
          gap: 10px;
          margin: 20px 0px;
          .userInfo {
            flex: 3;
            display: flex;
            align-items: center;
            gap: 20px;
            position: relative;
            min-width: 0;
            img {
              flex: 0 0 40px;
              height: 40px;
              border-radius: 50%;
              object-fit: cover;
            }
            .online {
              width: 12px;
              height: 12px;
              border-radius: 50%;
              background-color: limegreen;
              position: absolute;
              top: 0;
              left: 30px;
            }
            p {
              color: themed("textColorSoft");
            }
            span {
              font-weight: 500;
              color: themed("textColor");
              word-wrap: break-word;
              width: 60%;
            }
          }
          .buttons {
            flex: 1;
            display: flex;
            align-items: center;
            justify-content: end;
            gap: 10px;

            @media (max-width: 1400px) {
              flex-wrap: wrap;
            }

            button {
              border: none;
              padding: 5px;
              color: #fff;
              cursor: pointer;
              border-radius: 3px;

              &:first-child {
                background-color: #5271ff;
              }
              &:last-child {
                background-color: #f0544f;
              }
            }
          }
        }
      }
    }
  }
}
